/* Footer.css */

.footer-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  width: 100%;
  padding-top: 60px;
  padding-left: 5px;
  color: white;
  gap: 15px;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
  width: 200px;
  height: 160px;
}

.footer-subheading {
  margin-bottom: 2px;
}

.Newsletter-email-input {
  margin-top: 5px;
  padding: 10px;
  color: white;
  background-color: black;
  border: 1px white solid;
  border-radius: 8px;
}