/* Header.css */
.pagenav {
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}