/* JobFiltrableSideBar.css */

.side-layout { 
  min-height: 100vh;
  margin-left: 25px;
}

.side-bar {
  width: 230px;
  color: black;
  background-color: rgb(213, 253, 233);
  margin-top: 20px;
  margin-left: -10px;
  padding-bottom: 20px;
  border: none;
  border-radius: 10px;
  padding-right: 15px;
  padding-top: 10px;
}

.sub-heading {
  font-weight: bold;
  margin-left: 15px;
  font-size: 14px;
  margin-bottom: 4px;
}

.search-input {
  padding: 10px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  padding: 7px;
}

.drop-down {
  color: rgb(109, 103, 103);
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 65px;
  outline: none;
}

.cat {
  display: block;
  cursor: pointer;
  color: rgb(7, 6, 6);
  margin-bottom: 3px;
}

.more-cat-button {
  background-color: #46d375;
  color: white;
  margin-left: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 65px;
  padding-right: 60px;
  cursor: pointer;
}

.tick-box {
  margin-left: 10px;
  border: 1px grey solid; 
}

.salary-range {
  margin-left: 10px;
  width: 190px;
}

.salary-range::-webkit-slider-thumb  {
  -webkit-appearance: none;
  appearance: none;
  background: #46d375;
  cursor: pointer;
}

.price-button {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.pay {
  font-weight: bold;
}

.apply {
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
  background-color: #46d375;
  color: white;
  cursor: pointer;
}

.tags {
  background-color: #cef8dc;
  color: #16d666;
  cursor: pointer;
  margin-left: 10px;
  border: 1px #4bfa94 solid;
  border-radius: 5px;
}

.hiring-card-flier {
  margin-left: -10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .side-layout {
    position: relative;
  }

  .side-bar {
    width: 100%;
    margin-left: -25px;
  }

  .pay {
    margin-left: 2px;
    font-size: 16px;
  }

  .hiring-card-flier {
    width: 90%;
  }

  .tags {
  font-size: 18px;
}

.apply {
  width: 100px;
  height: 30px;
}

.salary-range {
  margin-left: 10px;
  width:95%;
}
 .more-cat-button {
  width: 95%;
 }

 .search-input {
  width: 90%;
  font-size: 16px;
 }

 .sub-heading {
  font-size: 17px;
 }

 .drop-down {
  width: 93%;
  font-size: 16px;
 }
}