/* Jobs.css */

.layout-container {
  display: flex;
  height: 100%;
}

.show-filter-btn {
  display: none;
}

.close-filter-button {
  display: none;
}

.filter-sidebar {
  display: none;
}

@media (max-width: 768px) {
 /* .grid-layout {
    display: flex;
    flex-direction: column;
  }
    */

  .layout-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

  }

  .layout-container.open {
    display: none;
  }

  .grid-layout {
    display: flex;
    flex-direction: column;
  }

  .section-layout {
    margin-top: -40px;
  }

  .show-filter-btn {
    background-color: rgb(52, 187, 124);
    width: 97%;
    height: 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    display: block;
    margin-top: 20px; 
    cursor: pointer;
    margin-bottom: 7px;
  }

  .close-filter-button {
    background-color: rgb(52, 187, 124);
    width: 97%;
    margin-top: -130px;
    height: 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-weight: 500; 
  }

  .filter-sidebar {
    display: flex;
    flex-direction: column;
  } 

  /*.filter-sidebar.open {
    display: flex;
    margin-top: -15px;
    
  }
    */

  .section-layout.open {
    display: none;
  }

  .toggle-aside {
    display: none;
  }
}



/*#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
  */